@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-scroll-bar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.sidebar-scroll-bar::-webkit-scrollbar-thumb {
  background: #444654;
  border-radius: 0.5rem;
}

.divider {
  border-top: 1px solid #444654;
}

#login-button:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
  transition: background-color 0.2s ease-in-out;
}

form { 
  display: flex; 
  flex-direction: column;
}